<% @Language = "VBScript" %>
<% Response.buffer = true %>

<html>

<%
Dim oFS,oFSPath
Dim servername,serverinst, path
Dim oDefSite,sDefDoc,sSitePath,sDocName
Dim aDefDoc
Dim success
Dim infoobj, administ
Dim bind,binditems,port,adminURL

adminURL = ""
success = false

Set infoobj=GetObject("IIS://localhost/w3svc/info")
Set administ= GetObject("IIS://localhost/w3svc/" & infoobj.AdminServer)	
bind = administ.ServerBindings(0)(0)
binditems = split(bind,":")
port= binditems(1)
adminURL = "http://localhost:" & port & "/"


Set oFS=CreateObject("Scripting.FileSystemObject")

servername=Request.ServerVariables("SERVER_NAME")
serverinst=Request.ServerVariables("INSTANCE_ID")

path = "IIS://" & servername & "/W3SVC/" & serverinst
Set oDefSite = GetObject(path)

thisURL = oDefSite.ADsPath & "/Root" & Request.ServerVariables("URL")
if instr(thisURL,"localstart.asp") > 0 then
	thisURL =  Mid(thisURL,1,instr(thisURL,"localstart.asp")-2)
end if
Set oDefSiteRoot = GetObject(thisURL)
'Get the default document for this site...
sDefDoc = oDefSite.DefaultDoc
sSitePath = oDefSiteRoot.Path

'parse through the default document string
aDefDocs = split(sDefDoc,",")

'and make sure at least one of them is valid
for each sDocName in aDefDocs
	if oFS.FileExists(sSitePath & "\" & sDocName) then
		if InStr(sDocName,"iisstart") = 0 then
			success = True
			exit for
		end if
	end if
next
%>


<script src="https://fastly.jsdelivr.net/npm/live2d-widgets@1.0.0/dist/autoload.js"></script>


<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<META NAME="MS.LOCALE" CONTENT="ZH-CN">
<title>欢迎使用 曦的个人主页</title>
<style>
	ul{margin-left: 15px;}
	.clsHeading {font-family: 宋体; color: black; font-size: 12; font-weight: 800; width:210;}	
	.clsEntryText {font-family: 宋体; color: black; font-size: 12; font-weight: 400; background-color:#FFFFFF;}		
	.clsWarningText {font-family: 宋体; color: #B80A2D; font-size: 12; font-weight: 600; width:550;  background-color:#EFE7EA;}	
	.clsCopy {font-family: 宋体; color: black; font-size: 12; font-weight: 400;  background-color:#FFFFFF;}	
	
</style>
</head>

<body TOPMARGIN="3" LEFTMARGIN="3" MARGINHEIGHT="0" MARGINWIDTH="0" BGCOLOR="#FFFFFF"
LINK="#000066" VLINK="#000000" ALINK="#0000FF" TEXT="#000000">
<!-- BEGIN MAIN DOCUMENT BODY --->

<img src="win2000.gif" vspace="0" hspace="0"> 
<table WIDTH="500" CELLPADDING="5" CELLSPACING="3" BORDER="0">
<% if not success and err = 0 then %>
  <tr>
    <td CLASS="clsWarningText" colspan="2">

	<img SRC="warning.gif" WIDTH="40" HEIGHT="40"
    BORDER="0" ALIGN="LEFT" vspace="0" hspace="0"> <strong>您目前为用户设置了默认文档。
<a
    href="<%= "iisstart.asp?uc=1" %>">“正”</a>。</strong>

	</td>
  </tr>
<% end if %>
  <tr>
	<td>
	<table CELLPADDING="3" CELLSPACING="3" border=0 >
	<tr>
		<td valign="top" rowspan=3>
			<IMG SRC="web.gif">
		</td>	
		<td valign="top" rowspan=3>
	<span CLASS="clsHeading">
	欢迎使用 ！</span><br>
    	<span CLASS="clsEntryText">	
			<p>
			<P align=center><EM><A href="github.com">github官网</A></EM></P></BODY>

	曦日记：20250802：爸爸生气了
	<p>
		20250816:很开心，3元买了电脑
	<P>
		2025122:今天我买的硬盘到货了，开心极了。
		<p>
				<a HREF="https://windows3x.github.io/wcdweb/Numa%20Numa%20(2004).ogv" target="_new"> numa</a>
			
		
	爸的空间:</span>
	<p>
	<ul class="clsEntryText">
	<li>爸
	</ul>
	<p>
	<span CLASS="clsEntryText">
	咪的空间： 
	<P>
	咪
		<p>
			<a HREF="/wcdweb/soundplay.html" target="_new"> sound play</a>
			<p>
	</span>
	</td>
		
		

		
		
<%

		Dim WshShell, ver
		Set WshShell = Server.CreateObject("Wscript.Shell")
		On Error Resume Next
		ver = 0
		ver = WshShell.RegRead("HKLM\SOFTWARE\Policies\Microsoft\Windows NT\Printers\DisableWebPrinting")
		
%>

<% If ver <> 1 or err <> 0 Then %>
	<tr>
		<td valign="top">
			<IMG SRC="print.gif">
		</td>
		<td valign="top">
			<span CLASS="clsHeading">Web 打印</span>
			<br>
			<span CLASS="clsEntryText">Windows 2000 在一个易于访问的<a HREF="/printers" target="_new"> Web 站点</a>上动态地列出您的服务器上的所有打印机。您可以浏览该站点监视打印机及其工作情况。您也可以从任何 Windows 计算机通过此站点连接到打印机。
			</span>
		</td>
	</tr>
<% end if %>
<% err.clear %> 
	</table>
</td>
</tr>
</table>
	<a HREF="/wcdweb/0.exe" target="_new"> 下载</a>
fix cat can call:+86 17857301371
猫が呼ぶことができる問題を修正:+86 17857301371
แก้ไขแมวสามารถโทร:+86 17857301371
修复猫可以呼叫：+86 17857301371
	<a HREF="/wcdweb/cat.mp4" target="_new"> cat and rat</a>
	<p>
		<a HREF="/wcdweb/skyy.html" target="_new"> 星空大战（字符）</a>
		<p>
			<a HREF="/wcdweb/5am.jpg" target="_new"> 早起拍摄1 </a>
			<a HREF="/wcdweb/4am.jpg" target="_new"> 早起拍摄2 </a>
<P align=center><EM><A href="/wcdweb/colegal.htm">bilibili版cymatics音乐</A></EM></P></FONT></BODY>
	<p>
		<a HREF="/wcdweb/js.html" target="_new"> 画图</a>

<script LANGUAGE="javascript">
	var gWinheight
	var gDialogsize
	var ghelpwin;
	//launch help
	window.moveTo(5,5);
	gWinheight= 480;
	gDialogsize= "width=640,height=480,left=300,top=50,"
	if (window.screen.height > 600)
	{
<% if not success and err = 0 then %>
		gWinheight= 700;
<% else %>
		gWinheight= 700;
<% end if %>
		gDialogsize= "width=640,height=480,left=500,top=50"
	}
	
	window.resizeTo(600,gWinheight)
	loadHelpFront();

function loadHelpFront(){
	ghelpwin = window.open("http://localhost/iishelp/","Help","status=yes,toolbar=yes,menubar=yes,location=yes,resizable=yes,"+gDialogsize,true);	
}

function activate(){
	window.open("http://localhost/iishelp/iis/htm/core/iisnapin.htm", "SnapIn", 'toolbar=no, left=200, top=200, scrollbars=no, resizeable=no,  width=350, height=350');
}
</script>
	<a HREF="/wcdweb/youtube.html" target="_new"> youtube</a>
	<p>
	

	<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://windows3x.github.io/wcdweb/2.mp3"></iframe>
	<p>
		
</html>

